# Functions

Default parameter and inserted arguments

In [62]:
def student(name='N/A', score='N/A'):
   print('Name:', name, 'Course:', score )

student()
student('Ayesha', 85)

Name: N/A Course: N/A
Name: Ayesha Course: 85

## Function with args
You can add multiple arguments using args in the parameter

In [63]:
def StudentCourses(name, *args):
  courses=', '.join(args) #this .join() removes the bracket which we get from the use of args
  print(f'{name} takes courses {courses}')

StudentCourses("Alina", "maths","physics","computer")

Alina takes courses maths, physics, computer

## Function with kwargs(Keyword Argument)
with kwargs we are passing argument as key value pair, we can pass multiple key value pairs

### Thus is the **list comprehension** method:
[expression **for** item **in** iterable **if** condition]

In [64]:
def personal_details(name, *args,**kwargs):
  friends= ", ".join(args)
  courses=" and ".join([f"{course} course with {details}" for course, details in kwargs.items()])

  print(f" {name} has friends {friends}. She takes {courses}")

personal_details("Ayesha", "Ali","Natasha", "Mona", English="1 credit hour", Programming="3 credit hour")

 Ayesha has friends Ali, Natasha, Mona. She takes English course with 1 credit hour and Programming course with 3 credit hour

**Alternative way** to iterate the key value pair (Kwargs) is:

In [36]:
def student_details(name, *args, **kwargs):
  friend=", ".join(args)

  courses_list= []
  for course, details in kwargs.list():
    courses_list.append(f"{course} course with {details}")
    course=" and ".join(courses_list)
    print(f"{name} has {friend} amd she takes {course}")

personal_details("Ayesha", "Ali","Natasha", "Mona", English="1 credit hour", Programming="3 credit hour")

 Ayesha has friends Ali, Natasha, Mona. She takes English course with 1 credit hour and Programming course with 3 credit hour

#Try and Exception Handling:

## Multiple types Exception Handling:

*   **ZeroDivisionError:** handle if a zero is divided with a num
*   **ValueError:** handle an invalid datatype

In [39]:
try:
     number=int(input("Enter the num: "))
     result=10/number
except ZeroDivisionError:
     print("Cannot divide by zero!")
except ValueError:
      print("Please enter a valid number!")

Enter the num: hi
Please enter a valid number!

## Cathing All Exception
This is most commonly used type of exception Handling

In [49]:
try:
  num=10/0
except Exception as e:
  print(f"An error occured {e}")

An error occured: unsupported operand type(s) for /: 'int' and 'str'

# Lambda
Anonymus function that can have any number of arguments but can have only one expression.

**Syntax:**

*   [**lambda** arguments: expression]

In [51]:
def multiply(x,y):
  return x*y
print(f"Simple multiplication: {multiply(10,20)}")

multiple_lambda= lambda x,y: x*y
print(f"Lambda multiplication: {multiple_lambda(20,20)}")

Simple multiplication: 200
Lambda multiplication: 400

## Uses Of Lambda In Machine Learning:

### Feature Engineering

In [54]:
import pandas as pd

df= pd.DataFrame({
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
})

df["Position"]= df['Salary'].apply(lambda x: 'Senior' if x>60000 else 'Junior')
print(df)

   Age  Salary Position
0   25   50000   Junior
1   30   60000   Junior
2   35   70000   Senior

### Data Cleaning

In [61]:
import numpy as np

df= pd.DataFrame({
    'A':[1,2,np.nan,4],
    'B':[4,5,6,np.nan]
})

cleaned_df= df.apply(lambda x: x.fillna(x.mean().astype(int)))
print(cleaned_df)

     A    B
0  1.0  4.0
1  2.0  5.0
2  2.0  6.0
3  4.0  5.0